importFrom("grDevices", "gray")
importFrom("graphics", "abline", "legend", "lines", "par", "plot",
           "title")
importFrom("stats", "lm", "rnorm", "var", "cor")
importFrom("lars", "lars")

export(qm.ridge)
S3method(plot, qm.ridge)
S3method(print, qm.ridge)

export(unr.ridge)
S3method(plot, unr.ridge)
S3method(print, unr.ridge)

export(true.risk)
S3method(plot, true.risk)
S3method(print, true.risk)

export(true.simu)
S3method(plot, true.simu)
S3method(print, true.simu)

export(aug.lars)
S3method(plot, aug.lars)
S3method(print, aug.lars)

export(uc.lars)
S3method(plot, uc.lars)
S3method(print, uc.lars)

export(correct.signs)
S3method(print, correct.signs)